<div>
  <mat-card flex>
    <mat-card-title>Bar Chart (HTML attributes)</mat-card-title>
    <mat-card-subtitle>Individual component configurations, series, tooltip, x & y axis, series tooltip</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab>
          <ng-template matTabLabel>Demo</ng-template>
          <td-chart [style.height.px]="300">
            <td-chart-tooltip [trigger]="'item'"
                              [textStyle]="{ color: '#818181' }"
                              [backgroundColor]="'#ffffff'">
              <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                <ng-container *ngIf="params">
                  <div layout="row" layout-align="start center">
                    <mat-icon>
                      <span class="tc-accent">people</span>
                    </mat-icon>
                    <span class="mat-caption pad-left-sm">
                      {{params.seriesName + ': ' + params.value}}
                    </span>
                  </div>
                </ng-container>
              </ng-template>
            </td-chart-tooltip>
            <td-chart-x-axis [show]="true"
                              [position]="'bottom'"
                              [type]="'category'"
                              [data]="['Electronics', 'Toys', 'Grocery', 'Appliances', 'Automotive', 'Sports']"
                              [boundaryGap]="true">
            </td-chart-x-axis>
            <td-chart-y-axis [show]="true"
                              [type]="'value'"
                              [position]="'right'"
                              [max]="200"
                              [splitLine]="{ lineStyle: { type: 'dotted' } }">
            </td-chart-y-axis>
            <td-chart-series td-bar
                            [data]="[150, 130, 150, 120, 150, 120]"
                            [name]="'Today'"
                            [itemStyle]="{ color: '#F2724B' }">
            </td-chart-series>
            <td-chart-series td-bar
                            [data]="[80, 122, 80, 120, 80, 120]"
                            [name]="'Yesterday'"
                            [markLine]="{ data: [{ name: 'Average', value: 30, xAxis: 1, yAxis: 30 }] }"
                            [itemStyle]="{ color: '#3A4950' }">
            </td-chart-series>
          </td-chart>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Code</ng-template>
          <p>HTML: </p>
          <td-highlight lang="html">
            <![CDATA[
              <td-chart [style.height.px]="300">
                <td-chart-tooltip [trigger]="'item'"
                                  [textStyle]="{ color: '#818181' }"
                                  [backgroundColor]="'#ffffff'">
                  <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                    <ng-container *ngIf="params">
                      <div layout="row" layout-align="start center">
                        <mat-icon>
                          <span class="tc-blue-300">people</span>
                        </mat-icon>
                        <span class="mat-caption pad-left-sm">
                          { {params.seriesName + ': ' + params.value} }
                        </span>
                      </div>
                    </ng-container>
                  </ng-template>
                </td-chart-tooltip>
                <td-chart-x-axis [show]="true"
                                  [position]="'bottom'"
                                  [type]="'category'"
                                  [data]="['Electronics', 'Toys', 'Grocery', 'Appliances', 'Automotive', 'Sports']"
                                  [boundaryGap]="true">
                </td-chart-x-axis>
                <td-chart-y-axis [show]="true"
                                  [type]="'value'"
                                  [position]="'right'"
                                  [max]="200"
                                  [splitLine]="{ lineStyle: { type: 'dotted' } }">
                </td-chart-y-axis>
                <td-chart-series td-bar
                                [data]="[150, 130, 150, 120, 150, 120]"
                                [name]="'Today'"
                                [itemStyle]="{ color: '#F2724B' }">
                </td-chart-series>
                <td-chart-series td-bar
                                [data]="[80, 122, 80, 120, 80, 120]"
                                [name]="'Yesterday'"
                                [markLine]="{ data: [{ name: 'Average', value: 30, xAxis: 1, yAxis: 30 }] }"
                                [itemStyle]="{ color: '#3A4950' }">
                </td-chart-series>
              </td-chart>
            ]]>
          </td-highlight>
          <p>TypeScript: </p>
          <td-highlight lang="typescript">
            <![CDATA[
              import {
                ITdBarSeries,
              } from '@covalent/echarts/bar';
            ]]>
          </td-highlight>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<mat-card>
  <mat-card-title>Bar Chart (TypeScript config object)</mat-card-title>
  <mat-card-subtitle>Configuration object, acts just like the atomic version but using one configuration @Input
    property</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template matTabLabel>Demo</ng-template>
        <td-chart [style.height.px]="300" 
                  [config]="barConfig">
        </td-chart>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>Code</ng-template>
        <p>HTML: </p>
        <td-highlight lang="html">
          <![CDATA[
            <td-chart [style.height.px]="300" 
                      [config]="barConfig">
            </td-chart>
            ]]>
        </td-highlight>
        <p>TypeScript: </p>
        <td-highlight lang="typescript">
          <![CDATA[
            import {
              ITdBarSeries,
            } from '@covalent/echarts/bar';
            ...
            export class BarDocsComponent {
              // Chart config
              barConfig: any = {
                xAxis: [
                  {
                    data: [
                      'Electronics',
                      'Toys',
                      'Grocery',
                      'Appliances',
                      'Automotive',
                      'Sports',
                    ],
                  },
                  {
                    show: true,
                    type: 'time',
                    boundaryGap: false,
                    axisLine: { show: false },
                    splitLine: { show: false },
                  },
                ],
                yAxis: [
                  {
                    show: true,
                    type: 'value',
                    axisLabel: { inside: false },
                    max: 300,
                  },
                ],
                series: this.barPlot,
                tooltip: {
                  show: true,
                  trigger: 'item',
                  showContent: true,
                },
              };
  
              // Chart data
              barPlot: ITdBarSeries[] = [
              {
                type: 'bar',
                itemStyle: {
                  opacity: 0.95,
                  color: '#007373',
                },
                markPoint: {
                  data: [{ name: 'test', value: 130, xAxis: 1, yAxis: 130 }],
                },
                name: 'Yesterday',
                data: [150, 130, 150, 120, 150, 120],
              },
              {
                type: 'bar',
                itemStyle: {
                  opacity: 0.95,
                  color: '#1B98C6',
                },
                markPoint: {
                  data: [{ name: 'Target', value: 80, xAxis: 1, yAxis: 121 }],
                },
                markLine: {
                  data: [{ name: 'Average', value: 30, xAxis: 1, yAxis: 30 }],
                  symbol: 'circle',
                },
                name: 'Today',
                data: [80, 122, 80, 120, 80, 120],
              },
            ];
            ];
          ]]>
        </td-highlight>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
