<td-layout #layout
            [class]="activeTheme"
            [dir]="dir">
  <td-navigation-drawer sidenavTitle="Covalent ECharts" [logo]="activeTheme === 'theme-dark' ? 'teradata' : 'teradata-dark'" navigationRoute="/" flex color="none">
    <mat-nav-list flex>
      <a mat-list-item
          tdLayoutClose
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
          <mat-icon matListIcon>home</mat-icon>
          Home
      </a>
      <a href="https://teradata.github.io/covalent"  target="_blank" mat-list-item>
          <mat-icon class="custom-icon" matListIcon svgIcon="assets:covalent_stroke"></mat-icon>
          Covalent
      </a>
    </mat-nav-list>
  </td-navigation-drawer>
  <div td-sidenav-content class="td-layout-footer pad">
    <span class="mat-caption tc-grey-500">&copy;{{year}} Teradata. All Rights Reserved</span>
  </div>
  <router-outlet></router-outlet>
</td-layout>